<form [Product]="form" (ngSubmit)="onSubmit()"
  class="col-md-6 offset-md-3">
    <div class="form-group now">
      <label class="col">Product Name
      <input type="text" class="form-control" name="name"  [(ngModel)]="product.name" required>
      </label>
      <div class="col alert alert-danger" role="alert"
    *ngIf="form.hasError('invalidusername', ['username']) &&
      form.get('username').touched">
    Invalid Username!
  </div>
    </div>
    <div class="form-group">
        <label for="">Product photo</label>
        <input type="text" class="form-control" value="https://dummyimage.com/275x175/000/fff"  name="photo"  [(ngModel)]="product.img"/>
      </div>
    <div class="form-group">
      <label for="">Price</label>
      <input type="number" class="form-control" name="price" [(ngModel)]="product.price">
    </div>
    <div class="form-group">
        <label for="">Status</label>
        <input type="text" class="form-control" name="status" [(ngModel)]="product.status">
      </div>
    <button class="btn btn-primary" (click)="addProduct()">Add Product</button>
  </form>
