<h1 class="my-4">Chi Tiết Sản Phẩm</h1>
<div class="card mb-3" style="max-width: 300px;"  *ngIf='product'>
    <div class="row no-gutters">
      <div class="col-md-13">
        <img [src]="product.img" class="card-img" alt="">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title"> {{product.name}}</h5>
          <p class="card-text">${{product.price}} VNĐ</p>
          <p class="card-text"><small class="text-muted">{{product.desc}}</small></p>
        </div>
      </div>
    </div>
  </div>