<div class="home-layout">
          <nav class="wthree-w3ls">
                    <div id="logo">
                        <h1> <a class="navbar-brand px-5 mx-5" href="/home">Lyra
                            </a>
                        </h1>
                    </div>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mr-auto">
                        <li><a href="/home">Trang chủ</a></li>
                        <li><a routerLink="/about">Giới thiệu</a></li>
                        <li><a routerLink="/product">Sản phẩm</a> </li>
                        <li><a href="/news">Tin tức</a></li>
                        <li><a href="/contact">Liên hệ</a></li>
                    </ul>
                </nav>
<div class="block-about-top">
  <a >
        <img src="https://scontent.fhph1-2.fna.fbcdn.net/v/t1.0-9/23915768_518153805215155_3123973118638792427_n.png?_nc_cat=103&_nc_sid=8024bb&_nc_ohc=9n-1uvmn0asAX-vs1xu&_nc_ht=scontent.fhph1-2.fna&oh=8c7482791dcce5a9558a59850e617062&oe=5ED6EC0C" alt="" class="img-desktop">
    </a>
</div>
<section class="right-content col-lg-9 " style="margin-left: 25%;">
            <div class="box-heading relative margin-bottom-20">
                <h1 class="title-head page_title">TUYỂN DỤNG SALE ONLINE LEADER</h1>
                <br>
                <div class="col-xs-12">
                    <div class="row row-noGutter tag-share">
                        <div class="col-xs-6 col-sm-6 a-left">
                        </div>
                    </div>
                </div>
            </div>
            <article class="article-main">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="article-details">
<br>
                            <div class="article-content">
                                <div class="rte">
                                    
<div class="_5pbx userContent _3576" id="js_3og" style="font-size:14px;line-height:1.38;margin-top:6px;font-family:'system-ui', '-apple-system', BlinkMacSystemFont, sans-serif;color:rgb(28,30,33);">
<div class="text_exposed_root text_exposed" id="id_5ce648b9e082a1897602420" style="font-family:inherit;">
<p style="margin:0px 0px 6px;font-family:inherit;">
  <span class="_5mfr" style="margin:0px 1px;font-family:inherit;">
    <span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">🆘</span>
    </span>&nbsp;LƯƠNG 15.000.000&nbsp;
    <span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">🆘</span>
    </span>&nbsp;DU LỊCH THÁNG 8&nbsp;<span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;">🆘</span>
    </span>&nbsp;CHỈ CẦN APPLYYY<span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">🐰</span></span></p>

<p style="margin:6px 0px;font-family:inherit;"><span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">⚠️</span></span>&nbsp;| Vị trí công việc: Trưởng Nhóm Sale Online |&nbsp;<span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">⚠️</span></span></p>

<div class="text_exposed_show" style="font-family:inherit;">
<p style="margin:0px 0px 6px;font-family:inherit;">- Lập kế hoạch thúc đẩy bán hàng, đảm bảo doanh số bán hàng trên các kênh Online (Facebook, Shopee, Website,..)<br>
- Chịu trách nhiệm quản lý, kiểm soát hàng hóa của bộ phận<br>
- Quản lý, giám sát, sắp xếp thời gian làm việc, đào tạo hướng dẫn nâng cao kỹ năng bán hàng cho nhân viên.<br>
- Tiếp nhận và giải quyết phản hồi của khách hàng, thực hiện các công việc chăm sóc khách hàng</p>

<p style="margin:6px 0px;font-family:inherit;"><span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">💁‍♀️</span></span>&nbsp;Thời gian làm việc: 8h30-17h30 từ Thứ 2 - sáng Thứ 7, nghỉ chiều Thứ 7 và Chủ nhật<br><span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">💁‍♀️</span></span>&nbsp;Địa điểm làm việc: Văn phòng Công ty<br>
24 Bạch Mai - P.Cầu Dền - Q.Hai Bà Trưng - HN</p>

<p style="margin:6px 0px;font-family:inherit;"><span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">🏆</span></span>&nbsp;Quyền lợi:<br>
- Làm việc trong môi trường năng động, chuyên nghiệp có nhiều cơ hội thăng tiến.<br>
- Cung cấp trang thiết bị đầy đủ để phục vụ công việc; Mua hàng ưu đãi.<br>
- Đóng BHXH-BHYT-BHTN theo quy định nhà nước &amp; các phúc lợi khác.<br>
- Được đào tạo, nâng cao nghiệp vụ thường xuyên.</p>

<p style="margin:6px 0px;font-family:inherit;">--------------------------------------------------------<br><span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">📮</span></span>&nbsp;Cách thức ứng tuyển:</p>

<p style="margin:6px 0px;font-family:inherit;"><span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;;">🔜</span></span>Nhanh tay apply cv vào : tuyendung@lyrashop.vn | Tiêu đề thư ghi rõ : [HỌ TÊN]_TNO<br><span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">🔜</span></span>Liên hệ hỗ trợ : Phòng Nhân Sự<br>
- Công Ty Cổ Phần Thời Trang LYRA ( Số 24 Bạch Mai - Q.Hai Bà Trưng - Hà Nội )<br>
- Facebook: Lyra tuyển dụng<br>
- Email: tuyendung@lyrashop.vn<br>
- Điện thoại : (024) 3200 9227<br>
Chào mừng các bạn gia nhập đại gia đình LYRA FASHION!!!&nbsp;<span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">🌸</span></span><span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">🌸</span></span><span class="_5mfr" style="margin:0px 1px;font-family:inherit;"><span class="_6qdm" style="vertical-align:text-bottom;font-family:inherit;height:16px;width:16px;font-size:16px;">🌸</span></span></p>
</div>
</div>
<p style="margin:6px 0px;font-family:inherit;">&nbsp;</p>

<p style="margin:6px 0px;font-family:inherit;text-align:center;">&nbsp;</p>

<p style="margin:6px 0px;font-family:inherit;text-align:center;">&nbsp;</p>
</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        </section>
    <!-- footer -->
    <footer class="py-lg-5 py-4">
        <div class="container py-sm-3">
            <div class="row footer-grids">
                <div class="col-lg-4 mt-4">

                    <h2> <img src="https://cf.shopee.vn/file/6507893c9020c9e9fac9167f3369346e_tn" alt=" " class="img-fluid">
                    </h2>
                </div>

                <div class="col-lg-4 mt-4 ad-info">
                    <h4 class="mb-4">Contact Info</h4>
                    <p><span class="fa fa-map-marker"></span>90 nsequursu dsdesdc,
                        xxx Honey Street 049436.<span>Newyork, NY.</span></p>
                    <p class="phone"><span class="fa fa-phone"></span> +1(12) 123 456 789 </p>
                    <p class="phone"><span class="fa fa-fax"></span> +1(12) 123 456 789 </p>
                    <p><span class="fa fa-envelope"></span><a href="mailto:info@example.com">info@example.com</a></p>
                </div>

           <div class="col-xs-12 col-lg-3 col-md-4 hidden-xs hidden-sm">
              <div class="footer-block information-block">
                    <h6 class="mb-4">HỆ THỐNG SHOWROOM LYRA</h6>
                        <p>174 Cầu Giấy</p>
                        <p>229 Chùa Bộc</p>
                        <p>24-26 Bạch Mai</p>
                        <p>207 Cầu Giấy</p>
                        <p>208A Nguyễn Trãi</p>
                        <p>105 Hồ Tùng Mậu</p>
                        <p>142 Chùa Láng</p>
                        <p>Hotline: &nbsp;0967 622 755</p>
                        <p>Phản hồi chất lượng: 094 987 6016</p>                
                        </div>
            </div>
        </div>
        </div> 
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy_right p-3 d-flex">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 copy_w3pvt">
                    <p class="text-lg-left text-center">© 2019 Infinitude. All rights reserved | Design by
                        <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>

                </div>
                <!-- move top -->
                <div class="col-lg-3 move-top text-lg-right text-center">
                    <a href="#home" class="move-top">
                        <span class="fa fa-angle-double-up mt-3" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- move top -->
            </div>
        </div>

    </div>
</div>