<div class="home-layout">
          <nav class="wthree-w3ls">
                    <div id="logo">
                        <h1> <a class="navbar-brand px-5 mx-5" href="/home">Lyra
                            </a>
                        </h1>
                    </div>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mr-auto">
                        <li><a href="/home">Trang chủ</a></li>
                        <li><a routerLink="/about">Giới thiệu</a></li>
                        <li><a routerLink="/product">Sản phẩm</a> </li>
                        <li><a href="/news">Tin tức</a></li>
                        <li><a href="/contact">Liên hệ</a></li>
                    </ul>
                </nav>
<div class="block-about-top">
</div>
<section class="w3l-contact-main">
		<div class="contact-infhny py-5">
			<div class="container">
				<div class="contact-grids row py-lg-5 mt-lg-4">
					<div class="contact-left col-lg-6">
						<h3>Contact</h3>
						<h4>Everything Start With A Hello!</h4>
						<h6>We’re here to answer any questions you may have and create an effective solution for your instructional needs.</h6>
					</div>
					<div class="contact-right col-lg-6">
						<form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
							<div class="input-grids">
								<input type="text" name="w3lName" placeholder="Full name" class="contact-input" />
								<input type="email" name="w3lSender" placeholder="Your email" class="contact-input" />
								<input type="text" name="w3lSubect" placeholder="Subject" class="contact-input" />
								<input type="number" name="w3lPhone" placeholder="Phone number" class="contact-input" />
							</div>
							<div  class="form-input mb-3">
								<textarea name="w3lMessage" placeholder="Type your message here" required=""></textarea>
							</div>
							<div  class="form-input mb-5">
								<label class="container"><p>Send me a copy <a href="#">privacy policy.</a></p>
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
								</div>
							<button class="btn submit">Send Message</button>
						</form>
					</div>

				</div>
			</div>
		</div>
	</section>
    <!-- footer -->
    <footer class="py-lg-5 py-4">
        <div class="container py-sm-3">
            <div class="row footer-grids">
                <div class="col-lg-4 mt-4">

                    <h2> <img src="https://cf.shopee.vn/file/6507893c9020c9e9fac9167f3369346e_tn" alt=" " class="img-fluid">
                    </h2>
                </div>

                <div class="col-lg-4 mt-4 ad-info">
                    <h4 class="mb-4">Contact Info</h4>
                    <p><span class="fa fa-map-marker"></span>90 nsequursu dsdesdc,
                        xxx Honey Street 049436.<span>Newyork, NY.</span></p>
                    <p class="phone"><span class="fa fa-phone"></span> +1(12) 123 456 789 </p>
                    <p class="phone"><span class="fa fa-fax"></span> +1(12) 123 456 789 </p>
                    <p><span class="fa fa-envelope"></span><a href="mailto:info@example.com">info@example.com</a></p>
                </div>
<div class="col-xs-12 col-lg-3 col-md-4 hidden-xs hidden-sm">
              <div class="footer-block information-block">
                    <h6 class="mb-4">HỆ THỐNG SHOWROOM LYRA</h6>
                        <p>174 Cầu Giấy</p>
                        <p>229 Chùa Bộc</p>
                        <p>24-26 Bạch Mai</p>
                        <p>207 Cầu Giấy</p>
                        <p>208A Nguyễn Trãi</p>
                        <p>105 Hồ Tùng Mậu</p>
                        <p>142 Chùa Láng</p>
                        <p>Hotline: &nbsp;0967 622 755</p>
                        <p>Phản hồi chất lượng: 094 987 6016</p>                
                        </div>
            </div>
        </div>
        </div> 
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy_right p-3 d-flex">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 copy_w3pvt">
                    <p class="text-lg-left text-center">© 2019 Infinitude. All rights reserved | Design by
                        <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>

                </div>
                <!-- move top -->
                <div class="col-lg-3 move-top text-lg-right text-center">
                    <a href="#home" class="move-top">
                        <span class="fa fa-angle-double-up mt-3" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- move top -->
            </div>
        </div>

    </div>
</div>

