<section class="banner_bottom py-5">
    <h3 class="section-title tittle-w3ls text-center mb-5">Sản phẩm mới</h3>
<hr>
   <div class="row">
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <a><img class="card-img-top" src="https://cdn.nhanh.vn/cdn/store/4902/ps/20200418/img_5520.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a>Áo cách điệu</a>
                    <br>
                  </h4>
                  <h5><i class="fa fa-comment-o"></i>$194.000 VNĐ</h5>
                  <br>
                   <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <div class="card-footer">
                 
                </div>
              </div>
        </div>
      <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <a><img class="card-img-top" src="https://cdn.nhanh.vn/cdn/store/4902/ps/20200306/img_2506.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a>Áo phông crop ngực in chữ</a>
                    <br>
                  </h4>
                  <h5><i class="fa fa-comment-o"></i>$146.000 VNĐ</h5>
                  <br>
                   <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <div class="card-footer">
                 
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <a><img class="card-img-top" src="https://cdn.nhanh.vn/cdn/store/4902/ps/20200418/img_5602.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a>Áo phông crop ngực in chữ</a>
                    <br>
                  </h4>
                  <h5><i class="fa fa-comment-o"></i>$167.000 VNĐ</h5>
                  <br>
                   <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <div class="card-footer">
                 
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <a><img class="card-img-top" src="https://cdn.nhanh.vn/cdn/store/4902/ps/20200306/img_2577.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a>Quần dài</a>
                    <br>
                  </h4>
                  <h5><i class="fa fa-comment-o"></i>$214.000 VNĐ</h5>
                  <br>
                   <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <div class="card-footer">
                 
                </div>
              </div>
        </div>
        </div>
      
       
    </section>