<section class="banner_bottom py-5">
    <h3 class="section-title tittle-w3ls text-center mb-5">Tiểu sử thành lập</h3>
<hr>
    <div class="container py-md-5">
        <div class="row inner_sec_info">

            <div class="col-md-6 banner_bottom_grid help">
                <img src="https://cdn.nhanh.vn/cdn/store/26/artCT/42802/lyra_shop_mang_su_ngot_ngao_den_co_phai_nu_7.jpg" alt=" " class="img-fluid ">
            </div>
            <div class="col-md-6 banner_bottom  mt-lg-2 mt-8">
                <p> Được thành lập từ năm 2012, Lyra được biết đến là thương hiệu thời trang mang phong cách nữ tính, ngọt ngào, nắm bắt xu hướng nhanh chóng và đa dạng.</p>
                <p> Mỗi sản phẩm của Lyra đều hướng tới sự tiện dụng, tươi trẻ và giá thành cạnh tranh nhất! Bên cạnh chất lượng sản phẩm, Lyra luôn nỗ lực đem đến cho khách hàng trải nghiệm về 1 chất lượng dịch vụ tốt nhất.</p>
                <p> Lyra tin rằng, chăm chút cho từng sản phẩm, tận tâm trong từng dịch vụ là điều cốt lõi dành được tình cảm, sự tin tưởng trọn vẹn của khách hàng. Đó cũng là sứ mệnh mà chúng tôi đang hướng tới! Chúc bạn có những trải nghiệm mua sắm tuyệt vời cùng Lyrashop.vn!.</p>

            </div>
        </div>
    </div>
      
<hr>
</section>
<section class="about py-5">
        <h3 class="section-title tittle-w3ls text-center mb-5">Sản phẩm mới</h3>
<hr>
   <div class="row">
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <a><img class="card-img-top" src="https://cdn.nhanh.vn/cdn/store/4902/ps/20200418/img_5520.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a>Áo cách điệu</a>
                    <br>
                  </h4>
                  <h5><i class="fa fa-comment-o"></i>$194.000 VNĐ</h5>
                  <br>
                   <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <div class="card-footer">
                 
                </div>
              </div>
        </div>
      <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <a><img class="card-img-top" src="https://cdn.nhanh.vn/cdn/store/4902/ps/20200306/img_2506.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a>Áo phông crop ngực in chữ</a>
                    <br>
                  </h4>
                  <h5><i class="fa fa-comment-o"></i>$146.000 VNĐ</h5>
                  <br>
                   <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <div class="card-footer">
                 
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <a><img class="card-img-top" src="https://cdn.nhanh.vn/cdn/store/4902/ps/20200418/img_5602.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a>Áo phông crop ngực in chữ</a>
                    <br>
                  </h4>
                  <h5><i class="fa fa-comment-o"></i>$167.000 VNĐ</h5>
                  <br>
                   <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <div class="card-footer">
                 
                </div>
              </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <a><img class="card-img-top" src="https://cdn.nhanh.vn/cdn/store/4902/ps/20200306/img_2577.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a>Quần dài</a>
                    <br>
                  </h4>
                  <h5><i class="fa fa-comment-o"></i>$214.000 VNĐ</h5>
                  <br>
                   <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <div class="card-footer">
                 
                </div>
              </div>
        </div>
        </div>
      
       
    </section>