<div class="home-layout">
    <!-- home -->
    <div id="home">
        <div id="homepage-slider" class="st-slider">
            <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
            <div class="images">
                <div class="images-inner">
                    <div class="image-slide">
                        <div class="banner-w3pvt-1">
                            <div class="overlay-w3ls">

                            </div>

                        </div>
                    </div>
                    <div class="image-slide">
                        <div class="banner-w3pvt-2">
                            <div class="overlay-w3ls">

                            </div>
                        </div>
                    </div>
                    <div class="image-slide">
                        <div class="banner-w3pvt-3">
                            <div class="overlay-w3ls">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="labels">
                <div class="fake-radio">
                    <label for="slide1" class="radio-btn"></label>
                    <label for="slide2" class="radio-btn"></label>
                    <label for="slide3" class="radio-btn"></label>
                </div>
            </div>

        </div>
        <!-- //banner slider -->
    </div>
<hr>
<section class="banner_bottom py-5">
    <h3 class="section-title tittle-w3ls text-center mb-5">Tiểu sử thành lập</h3>
<hr>
    <div class="container py-md-5">
        <div class="row inner_sec_info">

            <div class="col-md-6 banner_bottom_grid help">
                <img src="/assets/images/anh3.jpg " alt=" " class="img-fluid ">
            </div>
            <div class="col-md-6 banner_bottom  mt-lg-2 mt-8">
                <p> Được thành lập từ năm 2012, Lyra được biết đến là thương hiệu thời trang mang phong cách nữ tính, ngọt ngào, nắm bắt xu hướng nhanh chóng và đa dạng.</p>
                <p> Mỗi sản phẩm của Lyra đều hướng tới sự tiện dụng, tươi trẻ và giá thành cạnh tranh nhất! Bên cạnh chất lượng sản phẩm, Lyra luôn nỗ lực đem đến cho khách hàng trải nghiệm về 1 chất lượng dịch vụ tốt nhất.</p>
                <p> Lyra tin rằng, chăm chút cho từng sản phẩm, tận tâm trong từng dịch vụ là điều cốt lõi dành được tình cảm, sự tin tưởng trọn vẹn của khách hàng. Đó cũng là sứ mệnh mà chúng tôi đang hướng tới! Chúc bạn có những trải nghiệm mua sắm tuyệt vời cùng Lyrashop.vn!.</p>

            </div>
        </div>
    </div>
      
<hr>
</section>
    <section class="about py-5">
        <h3 class="section-title tittle-w3ls text-center mb-5">Sản phẩm mới</h3>
<hr>
  <app-shop></app-shop>
    </section>

   
<br><br><br><br>
    <!-- footer -->
    <footer class="py-lg-5 py-4">
        <div class="container py-sm-3">
            <div class="row footer-grids">
                <div class="col-lg-4 mt-4">

                    <h2> <img src="/assets/images/abc.png " alt=" " class="img-fluid">
                    </h2>
                </div>

                <div class="col-lg-4 mt-4 ad-info">
                    <h4 class="mb-4">Contact Info</h4>
                    <p><span class="fa fa-map-marker"></span>90 nsequursu dsdesdc,
                        xxx Honey Street 049436.<span>Newyork, NY.</span></p>
                    <p class="phone"><span class="fa fa-phone"></span> +1(12) 123 456 789 </p>
                    <p class="phone"><span class="fa fa-fax"></span> +1(12) 123 456 789 </p>
                    <p><span class="fa fa-envelope"></span><a href="mailto:info@example.com">info@example.com</a></p>
                </div>

            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy_right p-3 d-flex">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-9 copy_w3pvt">
                    <p class="text-lg-left text-center">© 2019 Infinitude. All rights reserved | Design by
                        <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>

                </div>
                <!-- move top -->
                <div class="col-lg-3 move-top text-lg-right text-center">
                    <a href="#home" class="move-top">
                        <span class="fa fa-angle-double-up mt-3" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- move top -->
            </div>
        </div>

    </div>
</div>